#container {
    width: 660px;
}

.board {
    width: 80px;
    height: 80px;
    border: 1px solid black; 
    float: left;
}

.lightBrown {
    background-color: #f4a460;
}

.darkBrown {
    background-color: #624226;
    
}

img { 
    width: 80px; 
    height: 75px;
}

.selectedPiece {
    border: 3px solid red;
    width: 76px;
    height: 76px
}

.highlightedMoves {
    border: 3px solid yellow;
    width: 76px;
    height: 76px

}